<div class="home">
  <p class="title">ROCK – PAPER – SCISSORS</p>
  <p class="description">
    Rock Paper Scissors is a zero sum game that is usually played by two
    people using their hands and no tools. The idea is to make shapes with
    an outstretched hand where each shape will have a certain degree of
    power and will lead to an outcome.
  </p>
  <p class="select-text">SELECT YOUR BET</p>
  <div class="button-group">
    <div class="button" value="rock">
      <%= image_tag("Rock.png") %>
      <span class="button-text">Rock</span>
    </div>
    <div class="button" value="paper" >
      <%= image_tag("Paper.png") %>
      <span class="button-text">Paper</span>
    </div>
    <div class="button" value="scissors" >
      <%= image_tag("Scissors.png") %>
      <span class="button-text">Scissors</span>
    </div>
  </div>
  <div class="modal-container" id='modal'>
    <h2 class="modal-title">WAITING CURB’S CHOOSE</h2>
    <div class="bet-container">
      <div class="bet-group">
        <span class="bet-text">Your bet</span>
      </div>
      <div class="bet-group">
        <div class="bet-loading">
          <div class="dot-pulse"></div>
        </div>
      </div>
    </div>
  </div>
</div>
